* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(103, 26, 174);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  
}